@font-face {
    font-family: 'Poppins';
    src: url('../resources/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsH1';
    src: url('../resources/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsItalic';
    src: url('../resources/fonts/Poppins-Italic.ttf') format('truetype');
    font-style: italic;
}

h1,
h2,
h3 {
    font-family: 'PoppinsH1';
}

.navbar {
    font-family: 'Poppins';
}

body {
    color: #817978;
    background-color: #151312;
    font-family: 'Poppins';
}

.iconSize {
    font-size: 30px;
}

.image-container img {
    height: 100px;
}

.bi {
    font-size: 20px;
}

.project-container {
    height: 100%;
}